body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
*{
	box-sizing: border-box;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.wrapper{
	max-width: 1170px;
	margin: 0 auto;
}
.main{
	width: 100%;
	background:url(../img/main2.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
/*Шапка сайта*/
header{
	width: 100%;
}
header .wrapper{
	padding: 45px 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background: black;
}
.header__logo{
	width: 18rem;
}
.header__right{
	display: flex;
	align-items: center;
}
.header__list{
	display: flex;
	align-items: center;
	margin-right: 1rem;
}
.header__li{
	position: relative;
}
.header__link{
	font-size: 1.1rem;
	font-weight: 600;
	color: white;
	text-decoration: none;
	transition: 0.3s ease;
	padding: 0 1rem;
}
.header__link:hover{
	color: #ea3a60;
}
.header__li:hover .header-dropdown{
	visibility: visible;
	opacity: 1;
}
.header-dropdown{
	position: absolute;
	left: 0;
	top: 100%;
	width: 200px;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease;
}
.dropdown-content{
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background: white;
	text-decoration: none;
	color: black;
	font-weight: 600;
	font-size: 0.9rem;
}
.dropdown-content.border__bottom{
	border-bottom: 1px solid black;
}
.header__buy{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid #ea3a60;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.header__buy img{
	width: 80%;
}
.togglePages{
	margin: 0;
	cursor: pointer;
}
.burger__hold{
	display: none;
}
.burget-line{
  	width: 100%;
  	height: 4px;
  	background: white;
  	border-radius: 5px;
  	position: absolute;
  	transition: 0.5s ease;
  }
  .burger-top{
  	top: 0;
  	left: 0;
 }
  .burger-middle{
  	top: 50%;
  	left: 0;
  	transform: translateY(-50%);
 }
  .burger-bottom{
  	left: 0;
  	bottom: 0;
  	transition: 0.3s ease;
  }
/*Главное выпадающее меню*/
.dropdown{
	position: absolute;
	width: 100%;
	left: 0;
	top: 70%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	background: white;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease;
}
.dropdown__item{
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 255px;
	padding: 0 2rem;
}
.dropdown__item.border__right{
	border-right: 1px solid #a6a6a7;
}
.dropdown__item__title{
	font-size: 0.9rem;
	font-weight: 600;
	color: #ea3a60;
	margin: 0.7rem 0;
}
.team__img{
	width: 100%;
	height: 130px;
	object-fit: cover;
	overflow: hidden;
}
.dropdown__text{
	font-size: 0.8rem;
	color: #333;
	font-weight: 400;
}
.dropdown__list{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 0.6rem;
}
.dropdown__li.margin__bottom{
	margin-bottom: 0.7rem;
}
.dropdown__link{
	text-decoration: none;
	padding-left: 30px;
	position: relative;
	font-size: 0.9rem;
	font-weight: 400;
	color: #333;
}
.dropdown__link:before{
	position: absolute;
	top: 4px;
	left: 0;
	width: 22px;
	height: 10px;
	background: url(../img/arrow.png);
	content: "";
	display: block;
	background-position: center;
	background-size: cover;
}
.dropdown__info__holder{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 0.6rem;
}
.dropdown__info{
	padding-left: 40px;
	text-decoration: none;
	position: relative;
	font-size: 0.9rem;
	font-weight: 400;
	color: #333;
	margin: 0;
}
.dropdown__info.geo:before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 1px;
	background: url(../img/geo.png);
	background-position: center;
	background-size: cover;
	width: 20px;
	height: 20px;
}
.dropdown__info.tel:before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 1px;
	background: url(../img/telephone.png);
	background-position: center;
	background-size: cover;
	width: 20px;
	height: 20px;
}
.dropdown__info.email:before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 1px;
	background: url(../img/email.png);
	background-position: center;
	background-size: cover;
	width: 20px;
	height: 20px;
}
.dropdown__info.clock:before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 1px;
	background: url(../img/clock.png);
	background-position: center;
	background-size: cover;
	width: 20px;
	height: 20px;
}
.dropdown__info.margin__bottom{
	margin-bottom: 1rem;
}
.dropdown__active{
	visibility: visible;
	opacity: 1;
}
















/*Главный Блок*/
.banner{
	width: 100%;
}
.banner .wrapper{
	height: 500px;
	display: flex;
	align-items: center;
	padding-left: 2rem;
}
.banner__holder{
	text-align: left;
}
.banner__title{
	font-size: 3rem;
	font-weight: 600;
	color: white;
	margin: 0;
}
.banner__text{
	font-size: 1.2rem;
	color: white;
	font-weight: 400;
	max-width: 500px;
	margin: 2rem 0;
}
.banner__button__holder{
	display: flex;
}
.banner__button{
	height: 55px;
	padding: 0 2rem;
	border: 2px solid #ea3a60;
	background: #ea3a60;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	color: white;
	transition: 0.3s ease;
	margin-right: 2rem;
}
/*Анимация первой кнопки*/
.banner__button:hover{
	background: transparent;
}
.banner__button2{
	height: 55px;
	padding: 0 2rem;
	border: 2px solid #ea3a60;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	color: white;
	transition: 0.3s ease;
}
/*Анимация второй кнопки*/
.banner__button2:hover{
	background: #ea3a60;
}
/*Discover*/
.discover{
	width: 100%;
	background: white;
}
.discover .wrapper{
	padding: 2rem 1rem 6rem;
	height: auto;
}
.discover__top{
	margin: 0 auto 3rem;
	text-align: center;
}
.block__top__title{
	font-size: 1.5rem;
	color: black;
	font-weight: 600;
	position: relative;
	padding-bottom: 1.2rem;
}
.block__top__title:before{
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	background: #ea3a60;
	width: 45px;
	height: 4px;
	border-radius: 2px;
}
.block__top__text{
	font-size: 1.2rem;
	color: #a6a6a7;
	font-weight: 400;
	margin: 0 auto;
	letter-spacing: 0.7px;
}
.discover__top .discoverTextWidth{
	max-width: 500px;
}
.discover__holder{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.discover__item{
	width: 45%;
	height: 335px;
	position: relative;
}
.discover__img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
	filter: grayscale(100%);
	z-index: 2;
	transition: 0.3s ease;
	transform: translateY(0px);
}
.discover__preview{
	z-index: 3;
	position: absolute;
	right: -1.2rem;
	bottom: -2rem;
	background: #ea3a60;
	padding: 1rem 2.2rem;
}
.name__discover{
	font-weight: 600;
	color: white;
	font-size: 1.2rem;
	margin-top: 0;
}
.discover__text{
	font-size: 1rem;
	color: white;
	max-width: 265px;
}
.discover__link{
	font-size: 0.9rem;
	color: white;
	text-decoration: none;
}
/*Анимация при наведении*/
.discover__item:hover .discover__img{
	filter: grayscale(0);
	transform: translateY(-5px);
}


.attribution{
	width: 100%;
	background: url(../img/video_preloader.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.attribution .wrapper{
	padding: 4rem 1rem 7rem;
	height: auto;
}
.attribution__top{
	margin: 0 auto;
	text-align: center;
}
.attribution__title{
	font-size: 2rem;
	color: white;
	margin: 0;
	padding-bottom: 1.2rem;
	position: relative;
	font-weight: 600;
	letter-spacing: 0.8px;
}
.attribution__title:before{
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	background: #ea3a60;
	width: 45px;
	height: 4px;
	border-radius: 2px;
}
.attribution__holder{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.6rem;
}
.attribution__item{
	width: 30%;
	background: transparent;
	border: 1px solid rgba(234,58,96,.5);
	position: relative;
	text-align: center;
	padding: 2.2rem 1.7rem;
	overflow: hidden;
	height: 235px;
}
.attribution__img__holder{
	margin: 0 auto;
	height: 65px;
}
.attribution__img__holder img{
	object-fit: cover;
	height: 100%;
	display: block;
	margin: 0 auto;
}
.services__before__title{
	font-size: 0.9rem;
	color: white;
	font-weight: 600;
	margin: 1rem 0;
}
.services__before__text{
	font-size: 0.8rem;
	color: white;
	font-weight: 400;
	margin: 0;
	letter-spacing: 0.7px;
}
.services__hover{
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: 100%;
	background: #ea3a60;
	padding: 1rem 1.3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 0.4s ease;
}
.services__hover__title{
	font-size: 0.9rem;
	color: white;
	font-weight: 600;
	margin: 0;
}
.services__hover__text{
	font-size: 0.8rem;
	color: white;
	font-weight: 400;
	margin-top: 1rem;
	margin-bottom: 0;
}

/*Анимация при наведении с сервизами*/
.attribution__item:hover .services__hover{
	top: 0;
}
/*Блок с сервисом*/
.services{
	width: 100%;
	background: white;
}
.services .wrapper{
	padding: 2.2rem 1rem 4rem;
}
.services__top{
	margin: 0 auto;
	text-align: center;
}
.services__top .discoverTextWidth{
	max-width: 650px;
}
.services__holder{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 4rem;
}
.services__item{
	width: 23%;
	height: 350px;
}
.services__item__top{
	height: 72%;
	width: 100%;
	position: relative;
}
.img__center{
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	width: 35%;
	transform: translate(-50%,-50%);
	z-index: 3;
	opacity: 0;
	transition: 0.3s ease;
}
.services__animation{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 87%;
	background: rgb(0,0,0,0.5);
	z-index: 2;
	transition: 0.3s ease;
	visibility: hidden;
	opacity: 0;
}
.services__item__bottom{
	height: 28%;
	width: 100%;
	padding: 0 1.7rem;
	display: flex;
	align-items: center;
	background: black;
	transition: 0.3s ease;
}
.services__bottom__title{
	font-size: 1rem;
	color: white;
	font-weight: 600;
	line-height: 1.5;
}
/*Анимация при наведении*/
.services__item:hover .img__center{
	opacity: 1;
}
.services__item:hover .services__animation{
	visibility: visible;
	opacity: 1;
	height: 100%;
}
.services__item:hover .services__item__bottom{
	background: #ea3a60;
}
/*фон для блоков services*/
.first__background{
	background: url(../img/services1.jpg);
	background-position: center;
	background-size: cover;
}
.second__background{
	background: url(../img/services2.jpg);
	background-position: center;
	background-size: cover;
}
.third__background{
	background: url(../img/services3.jpg);
	background-position: center;
	background-size: cover;
}
.fourth__background{
	background: url(../img/services4.jpg);
	background-position: center;
	background-size: cover;
}


/*Блок с градиентом*/
.consultant{
	background: linear-gradient(-45deg, #3657d9,#5452c5,#744daf,#a8458c,#d03e71);
	width: 100%;
}
.consultant .wrapper{
	height: auto;
	padding: 2.2rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.consultant__title{
	font-size: 1.6rem;
	color: white;
	font-weight: 600;
}
.consultant__button{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 57px;
	border-radius: 3px;
	background: #ea3a60;
	padding: 0 2rem;
	font-size: 1rem;
	color: white;
	text-decoration: none;
	font-weight: 600;
	transition: 0.3s ease;
}
/*Анимация при наведении*/
.consultant__button:hover{
	background: black
}



.choose{
	width: 100%;
	background: white;
}
.choose .wrapper{
	padding: 5rem 0;
}
.choose__top{
	margin: 0 auto;
	text-align: center;
}
.choose__title{
	font-size: 2rem;
	color: black;
	font-weight: 600;
}
.result__holder{
	display: grid;
	grid-template-columns: 32% 32% 32%;
	grid-template-rows: auto auto;
	justify-content: space-between;
	align-content: space-between;
	grid-row-gap: 3rem;
	width: 100%;
	margin-top: 4rem;
}
.result__item{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.choose__img{
	width: 20%;
	display: flex;
	align-items: center;
	margin-right: 2rem;
}
.choose__img img{
	object-fit: contain;
	width: 100%;
}
.choose__info__holder{
	max-width: 275px;
}
.choose__info__title{
	font-size: 1rem;
	color: black;
	font-weight: 500;
	margin: 0.5rem 0;
}
.choose__info__text{
	font-size: 0.85rem;
	color: black;
	font-weight: 300;
	margin: 0;
	line-height: 1.5;
}



.preview{
	width: 100%;
	background: url(../img/background__fixed.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.preview__cover{
	width: 100%;
	background-color: rgba(234,58,96,0.9);
}
.preview__cover .wrapper{
	height: auto;
	padding: 5rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.preview__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.preview__item{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 2rem;
	padding-top: 0.4rem;
	padding-bottom: 0.7rem;
	width: 25%;
}
.preview__item.border__left{
	border-left: 1px solid white;
}
.preview__num{
	margin: 0;
	font-weight: 600;
	color: white;
	font-size: 3rem;
}
.preview__name{
	margin-bottom: 0;
	margin-top: 0.3rem;
	font-weight: 400;
	color: white;
	font-size: 1.08rem;
}




.comments{
	width: 100%;
	background: white;
}
.comments .wrapper{
	padding: 6rem 1rem;
}
.comments__top{
	margin: 0 auto;
	text-align: center;
}
.comments__title{
	font-size: 2.5rem;
	color: black;
}
.comments__text{
	font-size: 1rem;
	color: #a6a6a6;
}
.comments__holder{
	display: flex;
	position: relative;
	width: 100%;
	height: 236px;
	margin-top: 6rem;
}

.comments__item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	transform: translateX(-100%);
	transition: 0.7s ease;
}
.comments__profile{
	width: 23%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.profile__img{
	height: 175px;
	width: 100%;
	object-fit: cover;
}
.profile__name{
	margin-bottom: 0;
	margin-top: 1.5rem;
	font-size: 1rem;
	font-weight: 600;
	color: #515662;
}
.user__job{
	margin-top: 0.2rem;
	margin-bottom: 0;
	color: #666;
	font-size: 0.8rem;
	font-weight: 400;
}
.comments__between{
	width: 7%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.comments__line{
	width: 1px;
	height: 30%;
	background: #e2e2e0;
}
.comments__between img{
	width: 30px;
	margin-bottom: 1rem;
}
.comments__text__holder{
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-right: 2rem;
	width: 70%;
	height: 100%;
}
.comments__content{
	font-size: 1rem;
	color: #666;
	font-weight: 400;
	line-height: 2;
	max-height: 96px;
	overflow: hidden;
}
.tab-target{
	display: grid;
	grid-template-columns: 30px 30px 30px;
	grid-column-gap: 4px;
	grid-template-rows: 40px;
	justify-content: center;
	align-items: center;
	width: 100px;
	margin: 2rem auto 0;
}
.tab-btn{
	width: 15px;
	height: 15px;
	border: 2px solid gray;
	transform: rotate(45deg);
	justify-self: center;
	align-self: center;
	cursor: pointer;
	transition: 0.3s ease;
}
.tab-btn-active{
	width: 10px;
	height: 10px;
	background: #ea3a60;
	border: 2px solid #ea3a60;
}
.tab-active{
	visibility: visible;
	opacity: 1;
	transform: translateX(0);
}



.sponsor{
	width: 100%;
	background: #f2f2f2;
}
.sponsor .wrapper{
	height: auto;
	padding: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
} 
.sponsor__inner{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}


.form{
	background: url(../img/form-background.jpg);
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
}
.form .wrapper{
	padding: 4rem 1rem;
	display: flex;
	align-items: center;
}
.form__inner{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 540px;
}
.form__title{
	font-size: 2rem;
	color: white;
	font-weight: 600;
}
.form__holder{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-column-gap: 20px;
	grid-row-gap: 3rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.form__item{
	position: relative;
	width: 100%;
	height: 45px;
}
.form__input{
	z-index: 2;
	width: 100%;
	background: transparent;
	border-bottom: 2px solid #a6a9aa;
	outline: none;
	border-right: none;
	border-left: none;
	border-top: none;
	height: 100%;
	padding-bottom: 0.5rem;
	font-size: 1.2rem;
	color: white;
	font-weight: 400;
}
.formTextarea{
	grid-column: 1/3;
	border-color: #ea3a60;
}
.form__holder input::placeholder{
	font-size: 1.2rem;
	color: white;
	font-weight: 400;
}
.select__none{
	display: none;
}
.form__select{
	width: 100%;
	height: 45px;
	position: relative;
	border-bottom: 2px solid #ea3a60;
	background: transparent;
	padding-bottom: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.form__select__title{
	font-size: 1.2rem;
	color: white;
	font-weight: 400;
	margin: 0;
}
.form__select img{
	width: 15px; 
}
.select__dropdown{
	height: 136px;
	position: absolute;
	left: 0;
	top: 100%;
	background: white;
	overflow-y: scroll;
	width: 100%;
	z-index: 3;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease;
}
.select__item{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	transition: 0.2s ease;
	cursor: pointer;
	font-size: 0.9rem;
	color: black;
	font-weight: 500;
}
.select__item:hover{
	background: #f4ebeb;
}

.selectDropdownActive{
	visibility: visible;
	opacity: 1;
}
.form__button{
	height: 54px;
	padding: 0 3rem;
	border: 2px solid #ea3a60;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	color: white;
	font-weight: 600;
	background: transparent;
	transition: 0.3s ease;
}
.form__button:hover{
	background: #ea3a60;
}

.news{
	width: 100%;
}
.news .wrapper{
	padding: 3rem 1rem;
	display: flex;
	justify-content: space-between;
}
.news__list{
	width: 38%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.news__main__title{
	font-size: 1.6rem;
	font-weight: 600;
	color: black;
	word-spacing: 3px;
	margin-bottom: 2rem;
}
.news__holder{
	width: 100%;
}
.news__item{
	width: 100%;
	padding: 1rem 0;
	display: flex;
}
.news__item.border__bottom{
	border-bottom: 1px solid black;
}
.news__img{
	width: 80px;
	height: 100%;
	margin-right: 1rem;
}
.news-img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.news__info{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: auto;
}
.news__title{
	font-size: 0.9rem;
	color: black;
	font-weight: 400;
}
.news__time{
	font-size: 1rem;
	color: gray;
	font-weight: 400;
	position: relative;
	padding-left: 20px;
}
.news__time:before{
	position: absolute;
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	background: url(../img/calendar.png);
	background-position: center;
	background-size: cover;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.news__button{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 58px;
	padding: 0 2.4rem;
	color: white;
	font-weight: 500;
	font-size: 1rem;
	background: #ea3a60;
	text-decoration: none;
	margin-top: 2rem;
	transition: 0.3s ease;
}
.news__button:hover{
	background: black;
}




.news__right{
	width: 60%;
}
.news__tab__holder{
	width: 100%;
}
.news__tab{
	width: 100%;
	height: 65px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5rem;
	background: #f2e1e4;
	transition: 0.4s ease;
	cursor: pointer;
	color: black;
}
.news__tab__title{
	font-size: 1.3rem;
	color: inherit;
	font-weight: 400;
}
.news__arrow{
	width: 15px;
}
.news__tab__content{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	visibility: hidden;
	height: 0px;
	overflow: hidden;
	transition: 0.3s ease;
}
.news__tab__content.margin__bottom{
	margin-bottom: 0.3rem;
}
.news__tab__inner{
	width: 90%;
}
.news__tab__text{
	font-size: 0.9rem;
	color: black;
	font-weight: 400;
}
.news__tab__active{
	background: #ea3a60;
	color: white;
}
.news__item__active{
	visibility: visible;
	height: 120px;
	transition: 0.4s ease;
}



.footer{
	background: #23282d;
	backface-visibility: hidden;
}
.footer .wrapper{
	padding: 4rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__holder{
	width: 95%;
	display: flex;
	height: 155px;
	position: relative;
}
.footer__inner{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	position: absolute;
	left: 0;
	top: 0;
	transition: 0.6s ease;
	opacity: 0;
	visibility: hidden;
	transform: translateX(-100%);
}
.footer-tab-active{
	visibility: visible;
	opacity: 1;
	transform: translateX(0);
}
.footer__item{
	width: 100%;
	padding-left: 2rem;
	padding-right: 2rem;
	display: flex;
	flex-direction: column;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.footer__title{
	font-size: 1rem;
	color: white;
	font-weight: 600;
}
.footer__item.border__right{
	border-right: 1px solid white;
}
.footer__title__style{
	font-size: 0.8rem;
	color: #dbdbc9;
	font-weight: 400;
	position: relative;
	padding-left: 25px;
}
.footer__geo:before{
	content: "";
	display: block;
	position: absolute;
	background: url(../img/footer__location.png);
	background-position: center;
	background-size: cover;
	width: 15px;
	height: 15px;
	left: 0;
	top: 7px;
	transform: translateY(-50%);
	overflow: hidden;
}
.footer__tel:before{
	overflow: hidden;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 2px;
	background: url(../img/footer__tel.png);
	background-position: center;
	background-size: cover;
	width: 15px;
	height: 15px;
}
.footer__email:before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 2px;
	background: url(../img/footer__email.png);
	background-position: center;
	background-size: cover;
	width: 15px;
	height: 15px;
}
.footer__geo.margin__bottom{
	margin-bottom: 1rem;
}
.footer__tel.margin__bottom{
	margin-bottom: 1rem;
}
.footer__target__holder{
	width: 5%;
	display: grid;
	grid-template-columns: 20px;
	grid-template-rows: 20px 20px;
	grid-row-gap: 25px;
	justify-content: center;
}
.footer__target{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
	justify-self: center;
	transition: 0.4s ease;
	cursor: pointer;
}
.footer-target-active{
	width: 15px;
	height: 15px;
	background: #ea3a60;
}
.bottom{
	width: 100%;
	background: #30353a;
}
.bottom .wrapper{
	padding: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: auto;
}
.bottom__title{
	margin: 0;
	color: white;
	font-weight: 400;
	font-size: 1rem;
}
.bottom__hold{
	display: grid;
	grid-template-columns: 30px 30px 30px 30px;
	grid-column-gap: 1rem;
}
.bottom__icon{
	width: 30px;
	height: 30px;
	background: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bottom__icon img{
	width: 20px;
	height: 20px;
	object-fit: cover;
}
/*Анимация бургера*/
.burgerAnimation{
	transform: rotate(50deg);
	top: 50%;
}
.burgerAnimation2{
	bottom: 50%;
	transform: translateY(50%);
	transform: rotate(-50deg);
}
.burgerAnimation3{
	opacity: 0;
}
@media screen and (max-width: 992px){
	.wrapper{
  		max-width: 800px;
  	}
  	header{
  		background: black;
  	}
  	header .wrapper{
  		background: black;
  		padding: 35px 1rem;
  	}
  	/*Бургер Стилизация*/
  	.header__right{
  		position: fixed;
  		flex-direction: column;
  		align-items: flex-start;
  		justify-content: flex-start;
  		padding-left: 5%;
  		padding-top: 10%;
  		padding-bottom: 15%;
  		height: 100%;
  		width: 30%;
  		background: #23282d;
  		left: -35%;
  		top: 0;
  		z-index: 30;
  		transition: 0.3s ease;
 	 }
  	.header__list{
  		display: flex;
  		flex-direction: column;
  		align-items: flex-start;
  		justify-content: space-between;
  		height: 40%;
  		margin-bottom: 1.5rem;
  	}
  	.header__link{
  		padding: 0;
  	}
  	.burger__wrap{
  		z-index: 29;
  		position: fixed;
  		left: 0;
  		top: 0;
  		width: 100%;
  		height: 100%;
  		background: rgb(0,0,0,0.5);
  		transition: 0.3s ease;
  		visibility: hidden;
  		opacity: 0;
  	}
  	.burger__hold{
  		display: flex;
  		width: 28px;
  		height: 26px;
  		flex-direction: column;
  		position: relative;
  		z-index: 30;
  	}
  	.dropdown{
  		flex-direction: column;
  		align-items: center;
  		justify-content: space-between;
  		position: fixed;
  		right: 0;
  		left: unset;
  		top: 0;
  		z-index: 20;
  		width: 30%;
  		background: #23282d;
  		padding: 0 1rem;
  		height: 100%;
  	}
  	.dropdown__item{
  		padding: 0;
  		width: 100%;
  	}
  	.dropdown__link{
  		color: white;
  	}
  	.dropdown__info{
  		color: white;
  	}
  	.burger__wrap__active{
  		visibility: visible;
  		opacity: 1;
  	}
  	.header__right__active{
  		left: 0;
  	}
  	.banner .wrapper{
  		padding-left: 2rem;
  		max-width: 992px;
  	}
  	.discover .wrapper{
  		padding-left: 1rem;
  		padding-right: 1rem;
  	}
  	.discover__preview{
  		left: 0;
  		width: 95%;
  	}
  	.attribution .wrapper{
  		padding-left: 1rem;
  		padding-right: 1rem;
  	}
  	.attribution__item{
  		height: 280px;
  	}
  	.services .wrapper{
  		padding-left: 1rem;
  		padding-right: 1rem;
  	}
  	.services__holder{
  		display: grid;
  		grid-template-columns: 48% 48%;
  		grid-template-rows: auto auto;
  		grid-row-gap: 2rem;
  	}
  	.services__item{
  		width: 100%;
  		height: 400px;
  	}
  	.consultant .wrapper{
  		padding: 2.2rem 1rem;
  	}
  	.consultant__title{
		font-size: 1.2rem;
	}
  	.choose__img{
  		margin-right: 0.5rem;
  		width: 10rem;
  	}

  	.preview__inner{
  		display: grid;
  		grid-template-columns: 1fr 1fr;
  		grid-template-rows: auto auto;
  		grid-row-gap: 2rem;
  		justify-content: space-around;
  	}
  	.preview__item{
  		justify-self: start;
  		width: 100%;
  	}
  	.preview .wrapper{
  		padding: 5rem 1rem;
  	}
  	.comments .wrapper{
  		padding-left: 1rem;
  		padding-right: 1rem;
  	}
  	.sponsor__inner{
  		flex-wrap: wrap;
  		justify-content: space-around;
  	}
  	.form .wrapper{
  		padding: 4rem 2rem;
  	}
  	.form__inner{
		width: 100%;
		max-width: unset;
	}
	.form__holder{
		grid-row-gap: 4rem;
	}
  	.news .wrapper{
  		flex-direction: column;
  		align-items: center;
  		padding: 3rem 1.3rem;
  	}
  	.news__list{
  		width: 100%;
  		margin-bottom: 2rem;
  	}
  	.news__right{
  		width: 100%;
  	}
  	.bottom .wrapper{
  		flex-direction: column;
  		align-items: flex-start;
  	}
  	.bottom__title{
  		margin-bottom: 1rem;
  	}
}
@media screen and (max-width: 767px){
	.wrapper{
		max-width: 767px;
	}
	header .wrapper{
		padding: 35px 1rem;
	}
	.banner .wrapper{
		justify-content: center;
		padding: 0;
	}
	.banner__holder{
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.discover .wrapper{
		padding: 4rem 1rem;
	}
	.discover__holder{
		flex-direction: column;
		align-items: flex-start;
	}
	.discover__item{
		width: 75%;
	}
	.discover__item.margin__bottom{
		margin-bottom: 2rem;
	}
	.discover__preview{
		right: -20%;
		width: auto;
		bottom: 0.5rem;
		left: unset;
	}
	.attribution .wrapper{
		padding: 4rem 1rem;
	}
	.attribution__holder{
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto auto;
		justify-content: center;
		grid-row-gap: 1rem;
	}
	.attribution__item{
		width: 100%;
		justify-self: center;
		height: 300px;
	}

	.services .wrapper{
		padding: 2.2rem 0.7rem 4rem;
	}
	.result__holder{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.choose .wrapper{
		padding: 5rem 0.7rem;
	}
	.choose__img{
		width: 10%;
	}
	.choose__info__holder{
		width: 87%;
		max-width: unset;
	}
	.preview__cover .wrapper{
		padding: 5rem 0.7rem;
	}
	.preview__inner{
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto auto;
	}
	.comments .wrapper{
		padding: 6rem 0.7rem;
	}
	.form .wrapper{
		padding: 4rem 1rem;
	}
	.form__holder{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.preview__item{
		width: 100%;
	}
	.news .wrapper{
		padding: 3rem 1rem;
	}
	.footer__holder{
		height: 477px;
	}
	.footer__inner{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.bottom .wrapper{
		padding: 1rem 1rem;
	}
}
@media screen and (max-width: 700px){
	.news__tab{
		transition: 0s;
	}
	.news__item__active{
		height: auto;
	}
	.footer__item.border__right{
		border-right: none;
	}
}
@media screen and (max-width: 567px){
	.header__logo{
		width: 14rem;
	}
	.header__right{
		width: 100%;
		left: -100%;
	}
	.header__right__active{
		left: 0;
	}
	.banner__button__holder{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.banner__button{
		margin-right: 0;
		margin-bottom: 1rem;
	}
	.discover__item{
		width: 100%;
	}
	.discover__preview{
		right: 1rem;
	}
	.consultant .wrapper{
		flex-direction: column;
		align-items: flex-start;
	}
	.services__holder{
		grid-template-columns: 100%;
		grid-template-rows: auto auto auto auto;
	}
	.services__item{
		height: 600px;
	}
	.comments .wrapper{
		padding: 3rem 0.7rem;
	}
	.comments__holder{
		height: 600px;
		margin-top: 2rem;
	}
	.comments__item{
		flex-direction: column;
		align-items: flex-start;
		height: 560px;
	}
	.comments__profile{
		width: 100%;
		align-items: flex-start;
	}
	.profile__img{
		height: 300px;
	}
	.comments__between{
		display: none;
	}
	.news__main__title{
		font-size: 1.2rem;
	}
	.news__tab{
		height: auto;
	}
}